.header{
    background-color: darkblue;
    color: white;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asidebar{
    background-color:grey;
    grid-area: asidebar;
}


.asidebar ul {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
}

.asidebar li {
    padding: 5px 0; 
}

.gallery{
    background-color: grey;
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

.footer{
    background-color: white;
    color: black;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 20vh;
    height: 20vh;    
    object-fit: cover;
}

.btn-comprar{
    background-color: darkblue;
    color: white;
    width: 100%;
    border: 0;
    padding: 0.5rem;

}

.main_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 5fr 90fr 5fr;
    grid-template-areas: 
    'header header'    
    'asidebar gallery'
    'footer footer'
;
height: 100vh;
}

